/*-------------------------Begin - Dat - Layout------------------------------------*/

/*-------------------------End - Dat - Layout--------------------------------------*/


/*-------------------------Begin - Duong - ------------------------------------*/

.login-panel {
    margin-top: 25%;
}
.label-click {
    padding-top: 10px;
}

.btn-submit
{
    background-color:   forestgreen;
}
/*-------------------------End - Duong - --------------------------------------*/


/*-------------------------Begin - Dieng - ------------------------------------*/



/*-------------------------End - Dieng - --------------------------------------*/


/*-------------------------Begin - Duy - ------------------------------------*/



/*-------------------------End - Duy - --------------------------------------*/
