
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
    }
</style>

<div id="page-wrapper">




    <br />
    <div class="panel-heading" style="font-size :200%">View Content </div>
    <hr>
    <div class="panel panel-default">


        <div class="panel-body">
            <table style=" width :100%">
                <tr>
                    <th style="width:2%; text-align:center">#</th>
                    <th style="padding-left:10px;">Title</th>
                    <th style="padding-left:10px;">Briel</th>
                    <th style="width:10%; text-align:center">Create Date</th>
                </tr>
                <tr>
                    <td style="width:2%; text-align:center">1</td>
                    <td style="padding-left:10px;">Lorem ipsum dolor sit amet</td>
                    <td style="padding-left:10px;">Excepleur sint occeacat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</tdstyle="padding-left:10px;">
                    <td style="width:10%; padding-left:10px;"> 30/08/2016 <br>12:03</td>
                </tr>
                <tr>
                    <td style="width:2%; text-align:center">2</td>
                    <td style="padding-left:10px;">Vestibulum tincidunt est vitae</td>
                    <td style="padding-left:10px;">Aliquam ornare lacus adipiscing posuere lectus et, fringlla augue</td>
                    <td style="width:10%; padding-left:10px;">30/08/2016<br>13:13</td>
                </tr>
                <tr>
                    <td style="width:2%; text-align:center">3</td>
                    <td style="padding-left:10px;">Aliquam ornare lacus adipiscing</td>
                    <td style="padding-left:10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan</td>
                    <td style="width:10%; padding-left:10px;">01/09/2016<br>15:09</td>
                </tr>
            </table>
        </div>
    </div>
